.border {
  border-bottom: 1px solid beige;
  display: inline;
  justify-content: center;
  width: 1090px;
  height: 0;
}

.galands {
  display: flex;
  justify-content: center;
}
.g1 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #fafad2;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g2 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #7b68ee;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g3 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #c0c0c0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g4 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #ffdead;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g5 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #e0ffff;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g6 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #ffb6c1;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g7 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #dc143c;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g8 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #5f9ea0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g9 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #e6e6fa;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g10 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #bdb76b;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g11 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #daa520;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.g12 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 80px solid #faebd7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
