/* body {
    background-image: url(../zzinresultimage//background.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
} */
.border {
    border: 0.5px solid rgb(212, 212, 212);
    /* border-bottom: 1px solid black; */
    width: 100vw;
    height: 0;
}

.galands {
    display: flex;
}
.basic {
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    /* border-top: 80px solid transparent; */
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    @media screen and (max-width: 768px) {
        border-bottom: 0px solid transparent;
        /* border-top: 80px solid transparent; */
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
    }
}
.opacity {
    opacity: 0.15;
}
.g1 {
    border-top: 70px solid #fafad2;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #fafad2;
    }
}
.g2 {
    border-top: 70px solid #7b68ee;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #7b68ee;
    }
}
.g3 {
    border-top: 70px solid #c0c0c0;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #c0c0c0;
    }
}
.g4 {
    border-top: 70px solid #ffdead;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #ffdead;
    }
}
.g5 {
    border-top: 70px solid #e0ffff;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #e0ffff;
    }
}
.g6 {
    border-top: 70px solid #ffb6c1;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #ffb6c1;
    }
}
.g7 {
    border-top: 70px solid #dc143c;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #dc143c;
    }
}
.g8 {
    border-top: 70px solid #5f9ea0;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #5f9ea0;
    }
}
.g9 {
    border-top: 70px solid #e6e6fa;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #e6e6fa;
    }
}
.g10 {
    border-top: 70px solid #bdb76b;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #bdb76b;
    }
}
.g11 {
    border-top: 70px solid #daa520;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #daa520;
    }
}
.g12 {
    border-top: 70px solid #faebd7;
    @media screen and (max-width: 768px) {
        border-top: 30px solid #faebd7;
    }
}
