body {
    background-image: url(../zzinresultimage/background.jpeg);
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
        background-size: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    background-size: 100vw 100vh;
}
