/* .story_img {
    width: 100%;
} */
/* .entire {
    background-image: url(../startpage/BG.png);
    background-size: 100vw 100vh;
    position: absolute;
} */
/* .cloud {
    background-image: url(../startpage//cloud.png);
} */
